<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()"> <!-- botn-->
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "warning">
  <ion-button (click)="generarQr()">Generar QR</ion-button>
  
  <div *ngIf="qrData">
    <qrcode [qrdata]="qrData" [width]="200"></qrcode>  <!-- ajustar tamaño 1000 ta bueno para proyectar-->
  </div>

  <h3  style="
  text-align: center;
  color: #FFFFFF;
  background-color: #012C56;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
">
  Listado de Alumnos
</h3>

<div style="max-width: 600px; margin: 0 auto;">
  <div style="max-height: 400px; overflow-y: auto; border: 1px solid #012C56; border-radius: 10px; padding: 10px;">
    <ion-list>
      <ion-item *ngFor="let asistente of asistentes" lines="none" style="--background: #FFB71B; border-radius: 10px; margin-bottom: 10px;">
        <ion-avatar slot="start">
          <ion-icon name="person-circle" style="font-size: 2rem; color: #012C56;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2 style="color: #012C56; font-weight: bold; font-size: 1.1rem;">Email del Estudiante</h2>
          <p style="color: #333;">{{ asistente.studentEmail }}</p>
          <h2 style="color: #012C56; font-weight: bold; font-size: 1.1rem;">Fecha y Hora</h2>
          <p style="color: #333;">{{ asistente.timestamp | date: 'dd/MM/yyyy hh:mm:ss a ' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>

  

</ion-content>
