<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" color="secondary" (click)="navigateToQR()">Desarrollo de Aplicaciones Móviles</ion-button>
  <ion-button expand="full" color="secondary" (click)="navigateToQR()">Calidad de Software</ion-button>
  <ion-button expand="full" color="secondary" (click)="navigateToQR()">Arquitectura</ion-button>
</ion-content>
