<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
    
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" color="warning">
  <ion-card>
    <ion-card-header>
  <h1>Bienvenido, {{ nombre }}!</h1>
  <ion-button expand="full" color="primary" (click)="navigateToQR()">Desarrollo de Aplicaciones Móviles</ion-button>
  <ion-button expand="full" color="primary" (click)="navigateToQR()">Calidad de Software</ion-button>
  <ion-button expand="full" color="primary" (click)="navigateToQR()">Arquitectura</ion-button>
</ion-card-header>
</ion-card>
</ion-content>


